# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Project specific
selenium_session.txt
*.log
*.bat
config.ini
draft.json

.gemini/
תיעוד API - דיווח נוכחות.md
תיעוד API - יצירת מפגש.md
תיעוד API - קבלת רשימת משתתפים.md
